:root{
  --bg-light: #ffffff;
  --text-light: #0b1220;
  --bg-dark: #081025;
  --text-dark: #e6eef6;
  --primary: #0d6efd; /* bootstrap primary */
  --card: rgba(255,255,255,0.03);
}

/* default dark theme */
[data-theme="dark"] {
  background: var(--bg-dark);
  color: var(--text-dark);
}


body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  transition: background .25s, color .25s;
  scroll-behavior: smooth;
  background: var(--bg-dark);
  color: var(--text-dark);
}

/* navbar glass */
.navbar {
  background: rgba(80, 7, 7, 0.02) !important;
  backdrop-filter: blur(6px);

}


.ma-auto {
    color:white;
}

/* hero styling */
.hero {
  min-height: 65vh;
  display:flex;
  align-items:center;
  padding:2rem 0;
  background-image: radial-gradient(600px 300px at 15% 10%, rgba(13,110,253,0.08), transparent 8%),
                    radial-gradient(600px 300px at 85% 20%, rgba(13,110,253,0.08), transparent 8%);
  /* background-color: rgb(179, 33, 33);  */

}
 

/* about section */


 /* .container2 {  */
  /* background-color: white; */
/* }  */
.profile-img-container {
  display:flex;
  height: 250px;
  width:250px;
  /* background-color: #256bb1; */
  margin-right: -20px;

}

.profile-img {
  width: 240px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
}


.about-me-text {
   /* background-color: rgb(42, 3, 3);  */
  margin-right: 240px;
  margin-top: 30px;
  
}

/* projects section */
/* card hover */
.card-project {
  background: var(--card);
  border: none;
  transition: transform .25s ease, box-shadow .25s ease;
  /* background-color: aqua */
  
}
.card-project:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(2,6,23,0.6);
  
}

.card-title {
  color: rgb(250, 250, 255);
}
.card-desc {
  color: rgb(200, 200, 255);
}

/* .card-project { */
  /* background-color: #0d6efd; */
/* } */

/* .project-container { */
  /* background-color: white; */
/* } */




/* small responsive tweaks */
@media (max-width:767px){
  .hero { padding:2.5rem 0; text-align:center; }
}
